__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.venv
data/raw/
data/processed/
notebooks/
*.xlsx
*.csv
*.parquet
.DS_Store
Thumbs.db
*secret*.json
token.json
validar_credenciais.ipynb
validar_creds.py
run_ci.bat
run_etl OLD.py